.line1 {
	font-family: "Copperplate", fantasy;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 89, 179), rgb(255, 255, 255))
}

div:nth-child(even) {
	background-color: #D2E9FF;
}

div:nth-child(odd) {
	background-color: #ACD6FF;
}

div:hover {
	background-color: #FFE4CA;
}

a:link {
	color: green;
}

a:visited {
	color: red;
}

a:hover {
	color: yellow;
}

a:active {
	color: blue;
}

.style1 {
	width:200px;
	height:350px;
	margin-left:20px;
	border-radius: 50px;
}

.style2 {
	width:300px;
	height:200px;
	margin-left:20px;
	border-radius: 50px;
}

img {
	opacity: 0.7;
}

img:hover {
	opacity: 1.0;
}